<main>
  <h2>Home page</h2>
  <h1 class="heading-xlarge">A 48px Bold heading</h1>
  <h2 class="heading-large">A 36px Bold heading</h2>
  <h3 class="heading-medium">A 24px Bold heading</h3>
  <h4 class="heading-small">A 19px Bold heading</h4>

  <div class="notice">
    <i class="icon icon-important">
      <span class="visually-hidden">Warning</span>
    </i>
    <strong class="bold-small">
      You can be fined up to £5,000 if you don’t register.
    </strong>
  </div>

  <details>
    <summary>
      <span class="summary">Help with nationality</span>
    </summary>
    <div class="panel panel-border-narrow">
      <p>
        If you’re not sure about your nationality, try to find out from an official document like a passport or national ID card.
      </p>
      <p>
        We need to know your nationality so we can work out which elections you’re entitled to vote in. If you can’t provide your
        nationality, you’ll have to send copies of identity documents through the post.
      </p>
    </div>
  </details>
</main>